<!DOCTYPE html>
<html lang="en">
<head>
    <title>Charts | Klorofil - Free Bootstrap Dashboard Template</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <!-- VENDOR CSS -->
    <link
        rel="stylesheet"
        href="assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link
        rel="stylesheet"
        href="assets/vendor/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="assets/vendor/linearicons/style.css" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="assets/css/demo.css" />
    <!-- GOOGLE FONTS -->
    <link
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700"
        rel="stylesheet"
    />
    <!-- ICONS -->
    <link
        rel="apple-touch-icon"
        sizes="76x76"
        href="assets/img/apple-icon.png"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="96x96"
        href="assets/img/favicon.png"
    />
</head>
<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="index">
                <h1>PrediStocks</h1>
                </a>
            </div>
            <div class="container-fluid">
            <div class="navbar-btn">
            </div>
                
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                        ><i class="lnr lnr-question-circle"></i> <span>Help</span>
                        <i class="icon-submenu lnr lnr-chevron-down"></i
                        ></a>
                        <ul class="dropdown-menu">
                        <li><a href="#">Basic Use</a></li>
                        <li><a href="#">Working With Data</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Troubleshooting</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                        ><img
                            src=""
                            class="img-circle"
                            alt="Avatar" />
                        <span>Samuel</span>
                        <i class="icon-submenu lnr lnr-chevron-down"></i
                        ></a>
                        <ul class="dropdown-menu">
                        <li>
                            <a href="#"
                            ><i class="lnr lnr-user"></i> <span>My Profile</span></a
                            >
                        </li>
                        <li>
                            <a href="#"
                            ><i class="lnr lnr-envelope"></i> <span>Message</span></a
                            >
                        </li>
                        <li>
                            <a href="#"
                            ><i class="lnr lnr-cog"></i> <span>Settings</span></a
                            >
                        </li>
                        <li>
                            <a href="#"
                            ><i class="lnr lnr-exit"></i> <span>Logout</span></a
                            >
                        </li>
                        </ul>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li>
                        <a href="/" class="">
                            <i class="lnr lnr-home"></i>
                            <span>Dashboard</span></a>
                    </li>
                    <li>
                        <a href="table" class="">
                            <i class="lnr lnr-dice"></i>
                            <span>Stocks Table</span></a>
                    </li>
                    <li>
                        <a href="charts" class="active">
                            <i class="lnr lnr-chart-bars"></i>
                            <span>Predict Chart</span></a>
                    </li>
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="collapsed">
                            <i class="lnr lnr-file-empty"></i> <span>Pages</span>
                            <i class="icon-submenu lnr lnr-chevron-right"></i></a>
                            <div id="subPages" class="collapse">
                                <ul class="nav">
                                    <li><a href="profile" class="">Profile</a></li>
                                    <li><a href="loginForm" class="">Login</a></li>
                                    <li><a href="joinForm" class="">Sign up</a></li>
                                </ul>
                            </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <canvas id="myChart" width="400" height="200"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

        <script>
            const stockData = [
                { x: "2023-07-31", y: 71500.0 },
                { x: "2023-08-01", y: 71500.0 },
                { x: "2023-08-02", y: 71300.0 },
                { x: "2023-08-03", y: 71100.0 },
                { x: "2023-08-04", y: 71100.0 },
            ];
            const ctx = document.getElementById("myChart").getContext("2d");
            const myChart = new Chart(ctx, {
                    type: "line",
                    data: {
              // labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [
                    {
                    label: "주식 가격",
                    data: stockData,
                    backgroundColor: "rgba(255, 99, 132, 0.2)",
                    borderColor: "rgba(255, 99, 132, 1)",
                    borderWidth: 2,
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(255, 99, 132, 1)",
                    fill: true,
                    },
                ],
            },
            options: {
                scales: {
                    // x: {
                    //   type: "time",
                    //   time: {
                    //     unit: "day",
                    //     tooltipFormat: "YYYY-MM-DD",
                    //   },
                    // },
                    y: {
                    beginAtZero: false,
                    },
                },
                plugins: {
                    tooltip: {
                    callbacks: {
                        label: (context) =>
                        new Intl.NumberFormat("en-US", {
                            style: "currency",
                            currency: "KRW",
                        }).format(context.parsed.y),
                    },
                    },
                },
                elements: {
                    line: {
                    tension: 0.2,
                    },
                },
                },
            });
        </script>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
        <p class="copyright">
            Shared by <i class="fa fa-love"></i
            ><a >PlayData</a>
        </p>
        </div>
    </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="assets/scripts/search.js"></script>
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="assets/vendor/chartist/js/chartist.min.js"></script>
    <script src="assets/scripts/klorofil-common.js"></script>
  </body>
</html>
