<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> 회원가입 페이지</title>
    <link rel="stylesheet" href="./static/joinForm.css">
</head>
<body>
    <div class="login-box">
        <h2>SIGN UP</h2>
        <form action="/join" method="post">
            <div class="user-box">
                <input type="text" name="username" required>
                <label>아이디를 입력하세요</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required minlength="8">
                <label>비밀번호를 입력하세요</label>
            </div>
            <div class="user-box">
                <input type="email" name="email" required>
                <label>이메일을 입력하세요</label>
            </div>
                <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                    sign up
                </a>
        </form>
    </div>
</body>
</html>


