<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="/main.css">
    <link href="/table-responsive.css" media="screen" type="text/css" rel="stylesheet">
</head>
<body class="main-page">
    <header>
        <div class="logo-container">
            <h1>PrediStocks</h1>
        </div>
        <div class="datetime-container">
            <div class="date-section">
                <div class="label">날짜</div>
                <div class="value" id="date"></div>
            </div>
            <div class="time-section">
                <div class="label">현재 시간</div>
                <div class="value" id="time"></div>
            </div>
        </div>
        <a href="/loginForm" class="login-form">로그인</a>
    </header>
    <main>
        <h2>Stocks to Track</h2>
        <div class="search">
            <input type="text"  id="stockNameSelect" placeholder="기업명 검색">
            <button id="searchButtonSelect">검색</button>
        </div>
        <table class="container">
            <thead>
                <tr>
                    <th><h1>기업명</h1></th>
                    <th><h1>현재가</h1></th>
                    <th><h1>전일</h1></th>
                    <th><h1>고가</h1></th>
                    <th><h1>저가</h1></th>
                    <th><h1>거래량</h1></th>
                    <th><h1>등락률</h1></th>
                    <th><h1></h1></th>
                </tr>
            </thead>
            <tbody id="stockTableBody">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <button id="loadMore">더 보기</button>
        <div id="loadingIndicator" class="loading-container" style="display: none;">
            <div class="spinner"></div>
        </div>
    </main>
    <footer>
    <!-- Footer Content -->
</footer>
<script src="/js/search.js"></script>
<script src="/js/time.js"></script>
</body>
</html>
</body>
</html>
