<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="./static/main.css">
</head>
<body class="main-page">
    <main>
        <header>
            <h1>PrediStocks</h1>
            <div class="datetime-container">
                <div class="date-section">
                    <div class="label">날짜 </div>
                    <div class="value" id="date"></div>
                </div>

                <div class="time-section">
                    <div class="label">현재 시간 </div>
                    <div class="value" id="time"></div>
                </div>
            </div>
            <a href="/loginForm" class="login" id="authButton">로그인</a>        
        </header>
        <br><br><br>
        <h2>Stocks to Track</h2>
        <div class="search"> 
            <input type="text" id="stockNameSelect" placeholder="기업명 검색">
            <button id="searchButtonSelect">검색</button>
        </div>
        <table>
            <thead>
                <tr>  
                    <th>기업명</th>
                    <th>현재가</th>
                    <th>전일</th>
                    <th>고가</th>
                    <th>저가</th>
                    <th>거래량</th>
                    <th>등락율</th>
                    <th>예측</th>
                </tr>
            </thead>
            <tbody id="stockTableBody">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="/select" class="btn">예측</a>
                </tr>
            </tbody>
        </table>
        <button id="loadMore">더 보기</button>
        <div id="loadingIndicator" class="loading-container" style="display: none;">
            <div class="spinner"></div>
        </div>
    </main>
    <script src="./static/js/time.js"></script>
    <script src="./static/js/search.js"></script>
</body>
</html>