<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PrediStocks</title>
    <link rel="stylesheet" href="./static/main.css">
</head>
<body>
    <header>
        <h1>PrediStocks</h1>
    <div id="current-time"> </div> 
    <form action="/login" method="post" class="px-4 py-2 bg-green-500 text-white rounded w-full cursor-pointer">
        <input type="submit" value="로그인" class="px-4 py-2 bg-green-500 text-white rounded w-full cursor-pointer"/></form>
    </header>
    <main>
            <h2>Stocks to Track</h2>
                <div class="search"> 
                    <input type="text" placeholder="기업명 검색">
                    <button> 검색 </button>
                </div>
        <table>
            <thead>
                <tr>  
                    <th>기업명</th>
                    <th>현재가</th>
                    <th>전일</th>
                    <th>고가</th>
                    <th>저가</th>
                    <th>거래량</th>
                    <th>등락율</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>name</td>
                    <td>close</td>
                    <td>open</td>
                    <td>high</td>
                    <td>low</td>
                    <td>volume</td>
                    <td>change</td>
                </tr>
            </tbody>
        </table>
    </main>
    <script src="./static/js/time.js"></script>
</body>
</html>