<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <a href="/select"></a>
    <link rel="stylesheet" href="./static/select.css">
    <title>상세 페이지</title>
</head>
<body>
    <header>
        <h1>Stock Tracker</h1>
        <button type="login" class="join">회원가입</button>   
    </header>
    <table>
    <thead>
        <tr>
            <th>기업명</th>
            <th>현재가</th>
            <th>전일</th>
            <th>고가</th>
            <th>저가</th>
            <th>거래량</th>
            <th>등락율</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>111</td>
        <td>222</td>
        <td>333</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
    </tbody>
    </table>
    <main>
    <br><t>Performance Metrics</t><br><br>
        <button type="button" class="button" onclick="window.open('https://finance.naver.com/item/main.nhn?code=005930#') ">1 week</button> 
        <button type="button" class="button" onclick="window.open('https://finance.naver.com/item/main.nhn?code=005930#') ">1 Month</button>   
        <button type="button" class="button" onclick="window.open('https://finance.naver.com/item/main.nhn?code=005930#') ">3 Month</button>  
        <button type="button" class="button" onclick="window.open('https://finance.naver.com/item/main.nhn?code=005930#') ">1 Year</button>    
        <button type="button" class="button" onclick="window.open('https://finance.naver.com/item/main.nhn?code=005930#') ">3 Years</button>  
        <br><br><br>
        <img src="https://ssl.pstatic.net/imgfinance/chart/item/area/day/005930.png?sidcode=1702814610749" >
    </main>
    <script src="script.js"></script>
</body>
</html>
