<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/main.css">
    <title>상세 페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="select-page">
    <main>
        <header>
            <h1>Stock Tracker</h1>
            <div class="datetime-container">
                <div class="date-section">
                    <div class="label">날짜 </div>
                    <div class="value" id="date"></div>
                </div>

                <div class="time-section">
                    <div class="label">현재 시간 </div>
                    <div class="value" id="time"></div>
                </div>
            </div>
            <a href="/loginForm" class="login" id="authButton">로그인</a>
        </header>
        <br><br><br>
        <h2>Stocks to Track</h2>
        <div class="search">
            <input type="text" id="stockNameSelect" placeholder="기업명 검색">
            <button id="searchButtonSelect">검색</button>
        </div>
        <br>
        <button onclick="fetchStocksByDate('1week')">1주일</button>
        <button onclick="fetchStocksByDate('1month')">1달</button>
        <button onclick="fetchStocksByDate('3months')">3달</button>
        <button onclick="fetchStocksByDate('6months')">6달</button>
        <button onclick="fetchStocksByDate('1year')">1년</button>
        <table>
            <thead>
                <tr>
                    <th>기업명</th>
                    <th>현재가</th>
                    <th>전일</th>
                    <th>고가</th>
                    <th>저가</th>
                    <th>거래량</th>
                    <th>등락율</th>
                    <th>예측</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw;">
            <canvas id="stockChart"></canvas>
        </div>
    </main>

    <script src="./static/js/time.js"></script>
    <script src="./static/js/search.js"></script>
</body>
</html>
