<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <span class="ml-3 text-4xl font-bold">PrediStocks</span>
            <p class="ml-auto lg:w-2/3 mb-0 leading-relaxed text-base ">서울 최고의 학원에서 전문가가 만든 주식 예측 사이트</p>
        </div>
    </header>
</head>
<body>